.button {
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 14px 34px;
    font-size: var(--font-size-base);
    color: var(--colors-text-light);
    font-family: var(--font-family-quicksand-0);
    transition: all 0.5s ease;
}

.type-primary {
    background-color: var(--colors-primary);
}

.type-primary:hover {
    background-color: var(--colors-brand-medium-blue);
}

.type-secondary {
    background-color: transparent;
    border: 1.5px solid var(--colors-primary);
    color: var(--colors-primary);
}

.type-secondary:hover {
    color: var(--colors-brand-medium-blue);
    border: 1.5px solid var(--colors-brand-medium-blue);
}

.type-enlace {
    background-color: var(--transparent);
    padding: var(--spacing-0);
    margin: 0 var(--spacing-2);
    border-bottom: 1px solid var(--colors-primary);
    color: var(--colors-primary);
    border-radius: var(--border-radius-none);
    width: fit-content;
}

.type-enlace:hover {
    color: var(--colors-brand-medium-blue);
    border-bottom: 1px solid  var(--colors-brand-medium-blue);
}

.type-item {
    justify-content: space-between;
    background-color: var(--transparent);
    color: var(--colors-text-dark);
    padding: var(--spacing-4)  var(--spacing-5) ;
    width: 100%;
    max-width: 260px;
}

.position-icon-left {
    flex-direction: row;
}

.position-icon-rigth {
    flex-direction: row-reverse;
}