.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 520px;
    margin-top: 50px;
}

.buttons > * {
    padding-left: 0;
    max-width: 250px;
}

.buttons button:first-child {
    margin-right: 15px;
    max-width: 240px;
}