.heading {
    font-family: var(--font-family-quicksand-0);
    display: inline-block;
    font-style: normal;
    line-height: 27px;
    font-weight: var(--font-weight-bold);
    color:  var(--colors-text-dark);
}
.type-h1 {
    font-size: var(--heading-font-size-h1);
}

.type-h2 {
    font-size: var(--heading-font-size-h2);
}